Package: dynomitedb-redis
Version: 0:3.0.7
Section: database
Priority: extra
Licence: DynomiteDB
Vendor: DynomiteDB
Architecture: amd64
Depends: libc6 (>= 2.14), adduser
Maintainer: Akbar S. Ahmed <akbar@dynomitedb.com>
Homepage: http://www.dynomitedb.com
Description: Redis backend for DynomiteDB
 A high performance, in-memory database that persists data on disk.
